//全局主色
$--color-primary: #346fff;
$primary-bg-color: #f2f2f2;
$sidebar-bg-color: #001529;
$header-height: 60px;
$slide-width: 210px;
$slide-width--collapse: 60px;
$bread-height: 35px;
$footer-height: 60px;
$page-bg-color: #f0f2f5;
$toggle-theme-bar: 48px;